<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login and Registration</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
<style type="text/css">
	html{
		padding: 50px;
	}
</style>
  </head>

<body>
	<div class="container">

		<div class="jumbotron text-center">
			<a href="/login" class="btn btn-lg btn-success">Login</a>
			<a href="/signup" class="btn btn-lg btn-info">Register</a>
		</div>
		
	</div>
  
</body>
</html>